.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__ions span {
  margin-left: 20px;
}
