.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__ions {
  display: flex;
  justify-content: space-evenly;
}

.screen-header__ions-cog {
  position: relative;
}

.screen-header__dot {
  position: absolute;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  left: 2px;
  bottom: 18px;
}

.screen-header__ions span {
  margin-left: 20px;
}

@keyframes spincog {
  from {
    transform: none;
  }
  to {
    transform: scale(1.2);
  }
}

.screen-header__ions .fa-cog:hover {
  animation: spincog 1s linear infinite;
}
